@import "tailwindcss";

:root {
  --background: #f7deb2;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: "Times New Roman", Times, serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}
